# API Configuration
VITE_API_URL=http://localhost:3000/api

# Midtrans Configuration
VITE_MIDTRANS_CLIENT_KEY=SB-Mid-client-_iv6FbM8rU2zRwLP
# Use https://app.sandbox.midtrans.com/snap/snap.js for sandbox
# Use https://app.midtrans.com/snap/snap.js for production
VITE_MIDTRANS_SNAP_URL=https://app.sandbox.midtrans.com/snap/snap.js
